body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Navbar'ın diğer elementlerin üstünde olmasını sağlar */
}

.navbar {
  background-color: white !important;
}

.myHeader .navbar-nav .nav-link:hover {
  color: rgb(93, 31, 242);
}

.myHeader .navbar .navbar-brand:hover {
  color: rgb(93, 31, 242);
}

#changingText {
  font-weight: lighter;
  letter-spacing: 1px;
}

/* .myMain .myFigure .myImage {

} */

.myMain {
  margin-top: 70px;
  margin-bottom: 150px; /* İki main arasına 50px boşluk bırakır */
}

.myMainHakkimda {
  margin-top: 250px; /* İkinci mainin üstüne 50px boşluk bırakır */
}

.myArticle {
  text-align: justify;
}

.myAside {
  display: flex;
  align-items: center;
}

.myAside img {
  max-width: 100%;
}

.myArticle p {
  margin-right: 200px; /* p etiketinin altına 20px boşluk ekler */
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  word-wrap: break-word;
  margin-bottom: 15px;
}

#moreText {
  display: none;
}

.read-more {
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  background-color: #333;
  border: none;
}

.btn-primary:hover {
  background-color: white;
  color: black;
}

/* Sosyal medya bağlantılarının listesi için özel stil */
#myFooterId .list-unstyled li {
  margin-bottom: 15px; /* Her li öğesi arasına 15 piksel boşluk bırakır */
}

/* Başlık ile sosyal medya bağlantıları arasına mesafe ekler */
#myFooterId h2 {
  margin-bottom: 20px; /* Başlığın altına 20 piksel boşluk bırakır */
}
